*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.container{
    width:100%;
    max-width:1200px;
    padding:0 15px;
    margin:40px auto;
}

.bagsb a:hover{
    transform: scale(1.5);
}

header{
    display: flex;
    height: 80px;
    background-color: #98B285;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
    header nav ul{
        display: flex;
        height: 80px;
        background-color: #98B285;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
        header nav ul li a{
            text-decoration: none;
            color:rgb(108, 174, 113)
        }

.logo{
    display: flex;
    align-items: center;
}

.logo-png{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 50;
    padding: 10px;
    background-color: #000000;
}
nav a:hover{
background: azure;
}

h1{
    font-weight:40px;
    margin-bottom:20px;
}

logo-magnolia.png{
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 10px;
}

.container-left,
.container-right{
    position:relative;
    overflow:hidden;
}

.title{
    font-size: 2rem;
    color:#374d31;
    position:absolute;
    left:10%;
    right:10%;
    top: 10%;
    max-width:100%;
}

#home{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-column-gap:40px;
}

.imghome{
    width: 100%;
}

.text1{
    text-align: justify;
}

.container-right a{
    width:100%;
    max-width:140px;
    display:block;
    margin:20px auto;
    border-radius:10px;
    background:green;
    text-transform: uppercase;
    text-align:center;
    text-decoration:none;
    font-weight:700;
    padding:10px;
    color:#ffffff;
}

/*PAGE - ABOUT US*/
#about-us{
    display:grid;
    grid-template-columns:70% 30%;
    grid-column-gap:40px;
}

section div {
    background-color: beige;
    padding: 100px;
    display: flex;
    align-items: center;
}

#about-us img{
    max-width:100%;
    border-radius:10px;
    margin-bottom:20px;
}

/*PAGE - BAGS*/
#bags{
    display:grid;
    grid-template-columns:50% 50%;
    grid-column-gap:40px;
    text-align:center;

}

    #bags img{
        border-radius:10px;
    }

.collection{
    padding:40px;
    border-radius:10px;
    position:relative;
    overflow:hidden;
    border:1px solid #cccccc;
    margin-bottom:40px;
}

/*PAGE - BLOG*/
#blog article{
    margin-bottom:40px;
}

    #blog article h2{
        margin-bottom:20px;
    }

    /*PAGE - FORM*/


    .containerform{
        width:40%;
        max-width:1200px;
        text-align: center;
        padding:25px 25px;
        margin:40px auto;
        background-color:beige
    
    }
    form h2{
        text-align: center;
    }
    .style1{
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    footer{
        background-color: #374d31;
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: #ffffff;
    }
    
        .fa {
        padding: 10px;
        font-size: 20px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius:40px;
        }

        .fa:hover {
        opacity: 0.7;
        }

        /* Facebook */
        .fa-facebook {
        background: #3B5998;
        color: white;
        }
        /* Twitter */
        .fa-twitter {
        background: #55ACEE;
        color:white
        }