
@media screen and (max-width: 768px) {
	.title {
		font-size: 2rem;
		color: #3e314d;
		left: 10%;
		right: 10%;
		top: 10%;
		max-width: 100%;
	}
	
	#home {
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;

		.text1 {
			text-align: justify;
		}
	}

	#about-us {
		display: grid;
		grid-template-columns: 100%;

		img {
			max-width: 45%;
			border-radius: 10px;
			margin-bottom: 20px;
		}
	}

	section {
		div {
			color: $whitecolor;
			background-color:$graycolor;
			padding: 20px;
			display: flex;
			justify-content: center;
		}
	}

	.texth3 {
		font-size: 10px;
	}

	.iframe {
		width: 50%;
	}

	#bags {
		img {
			border-radius: 10px;
			width: 200px;
		}
	}

	.containerform {
		width: 45%;
		text-align: center;
		padding: 15px 15px;
		margin: 30px auto;
		background-color: $fancycolor;

		form {
			h2 {
				color: rgb(240, 240, 240);
			}
		}
	
		label {
			color: #d3d3d3;
		}
	}

	footer {
		background-color: $blackcolor;
		padding: 10px;
		color:$whitecolor;
		font-size: 15px;

		a{
			color:$whitecolor;
		}
	}
}
